{% extends 'header.html' %}

{% block content %}
<style>
    /* 부모 요소에 대한 스타일링 */
    body, html {
        background-color: #f2f2f2; /* 배경 색상 지정 */
    }
    /* 입력 상자에 대한 스타일링 */
    #myInput {
        width: 300px; /* 원하는 너비로 조절하세요 */
        height: 30px; /* 높이 설정 */
        align-self: flex-start; /* 상단 중앙 배치 */
    }
    /* h1 태그에 대한 스타일링 */
    h1 {
        text-align: center; /* 텍스트를 가운데 정렬 */
        color: #333; /* 텍스트 색상 지정 */
        font-size: 40px; /* 폰트 크기 지정 */
        background: linear-gradient(to right, #87CEEB, white, #87CEEB);
    }
    #myDiv {
        padding: 20px; /* 내부 여백 설정 */
        display: flex; /* 가로로 배치하기 위해 flex 속성 추가 */
    }
    #imgdiv{
        width: 300px; /* 원하는 너비로 조절하세요 */
        height: 400px; /* 높이 설정 */
        background-color: #58FAAC; /* 배경 색상 지정 */
        display: flex; /* 가운데 정렬을 위해 flex 사용 */
        justify-content: center; /* 수평 가운데 정렬 */
        align-items: center; /* 수직 가운데 정렬 */
    }
    #myDiv > #wdiv {
        margin: 0 10px; /* 내부 요소 간 간격 설정 */
    }
    #box{
        width:500px;
        height: 200px;
        margin-block: 20px;
        margin-top: 20px;
        margin-inline:20px;
    }
    #magin{
        margin:10px;
        margin-left: 40px;
    }
    #magi{
        background-color: #ffffff;
        width:500px;
        height: 200px;
    }
    #skyblue{
        background-color: #cdecfa; /* 배경 색상 지정 */
        margin:10px
    }
    #insert_btn{
        margin-left: 400px;
    }
</style>    

<!-- 책 표시부 -->
<form action="http://localhost:3000/insert" method="post">
    <div id="skyblue">
        <div id="myDiv">
                <div id="imgdiv"></div> <!-- 이미지 부분 -->
            <div id="word">
                <br><br><br>
                <li id="magin">제목 : <input type="text" id="myInput" name="title" placeholder="추가할 책제목을 입력하세요"> </li>
                <li id="magin">저자 : <input type="text" id="myInput" name="author" placeholder="추가할 책의 저자를 입력하세요"></li>
                <li id="magin">출간연도 : <input type="text" id="myInput" name="date" placeholder="책의 출간연도를 입력하세요"></li>
                <li id="magin">내용 : <input type="text" id="myInput" name="content" placeholder="상세 정보를 기입해주세요"></li>
                <br>
                <input type="file" accept="image/*">
                <button onclick="uploadImage()">이미지 업로드</button>
                <br><br>
                <hr>
                <input type="submit" id="insert_btn" value="책 추가하기">
            </div> 
        </div>
    </div>
</form>


{% endblock %}