{% extends 'header.html' %}

{% block content %}
<style>
    /* 부모 요소에 대한 스타일링 */
    body, html {
        background-color: #f2f2f2; /* 배경 색상 지정 */
    }
    /* h1 태그에 대한 스타일링 */
    h1 {
        text-align: center; /* 텍스트를 가운데 정렬 */
        color: #333; /* 텍스트 색상 지정 */
        font-size: 40px; /* 폰트 크기 지정 */
        background: linear-gradient(to right, #87CEEB, white, #87CEEB);
    }
    #myDiv {
        padding: 20px; /* 내부 여백 설정 */
        display: flex; /* 가로로 배치하기 위해 flex 속성 추가 */
    }
    #imgdiv{
        width: 300px; /* 원하는 너비로 조절하세요 */
        height: 400px; /* 높이 설정 */
        background-color: #58FAAC; /* 배경 색상 지정 */
        display: flex; /* 가운데 정렬을 위해 flex 사용 */
        justify-content: center; /* 수평 가운데 정렬 */
        align-items: center; /* 수직 가운데 정렬 */
    }
    #myDiv > #wdiv {
        margin: 0 10px; /* 내부 요소 간 간격 설정 */
    }
    #word{
        margin-top: 60px;
        margin-left: 40px;
    }
    #box{
        width:500px;
        height: 200px;
        margin-block: 20px;
        margin-top: 20px;
        margin-inline:20px;
    }
    #magin{
        margin:10px;
    }
    #magi{
        background-color: #ffffff;
        width:500px;
        height: 200px;
    }
    #skyblue{
        background-color: #cdecfa; /* 배경 색상 지정 */
        margin:10px
    }
</style>    


{% if data.length > 0 %}
    {% for book in data %}
    <!-- 책 표시부 -->
    <div id="skyblue">
        <div id="myDiv">
            <div id="imgdiv">이미지</div> <!-- 이미지 부분 -->
            <div id="word">
                <li id="magin">제목 : {{book.book_name}}</li>
                <li id="magin">저자 : {{book.book_author}}</li>
                <li id="magin">출간연도 : {{book.book_date}}</li>
                <li id="magin">등록일 : {{book.insert_date}}</li>
                <div id="magi">
                    <li id="box">내용 : {{book.book_content}}</li>
                </div>
            </div> <!-- 설명칸 부분 -->
        </div>
    </div>
    {% endfor %}
{% endif %}

{% endblock %}
